<h1>Report <i class="icon-refresh" id="refreshAJAX"></i></h1>
<h2>Current Status</h2>

<% @employees.each do |employee| 
  @lastevent = @events.where({:employee_id => params[employee.id]}).last %>
  <%= @lastevent.employee_id if @lastevent %>

<% end %>
<div class="controls controls-row">
  <%= form_tag("/periods", method: "get") do %>
    <div class="span2">
      <%= label_tag :startdate, "Start Date" %>
      <%= text_field_tag :startdate, "", :value => if @start_date then @start_date end, :class => 'datepicker span2', :size => 10, :maxlength => 10 %> 
    </div>

    <div class="span2">
      <%= label_tag :enddate, "End Date" %>
      <%= text_field_tag :enddate, "", :value => if @end_date then @end_date end, :class => 'datepicker span2', :size => 10, :maxlength => 10 %>
    </div>
    
    <div class="span2">
      <%= label_tag :daterange, "Date Range" %>
      <%= select_tag :daterange, options_for_select([['Custom', 'custom'], ['Today', 'today'], ['Last Week', 'lastweek'], ['This Week', 'thisweek'], ['Last Month', 'lastmonth'], ['This Month', 'thismonth'], ['This Year', 'thisyear'], ['Last Year', 'lastyear']], if params[:daterange] then params[:daterange] else 'thisweek' end), class: "span2" %>
    </div>
    
    <div class="span2">
      <%= label_tag :employee, "Filters:" %>
      <%= collection_select(:event, :employee_id, @employees, :id, :firstname, {:prompt => "Select Employee" }, {:class => "span2"}) %>  
    </div>
    
    <div class="span2">
      <%= label_tag :job, "." %>
      <%= collection_select(:event, :job_id, @jobs, :id, :name, {:prompt => "Select Job"}, {class: "span2"}) %>  
    </div>
    
    <div class="span1">
      <%= label_tag :refresh, "." %>
      <%= submit_tag "Refresh" %>
    </div>
  <% end %>

<table id="matrix" class="table">
  <tr>
    <th></th>
    <% @jobs.each do |job| %>
    <th class="job<%= job[:id] %>"><%= job[:name] %></th>
    <% end %>
    <th>Total</th>
  </tr>
  <% @employees.each do |employee| %>
  <tr id="employee<%= employee[:id] %>">
    <th>
      <%= employee[:firstname] %> <%= employee[:lastname] %>
    </th>
    <% @jobs.each do |job| %>
    <td class="job<%= job[:id] %>"> <%= Period.joins(:events).select("distinct(periods.id), periods.*").where(["periods.job_id = ? AND periods.employee_id = ? AND events.punchtime >= ? AND events.punchtime <= ?", job, employee, @start_date, @end_date]).to_a.sum { |period| period.get_length } %></td>
    <% end %>
    <td class="total"><%= Period.joins(:events).select("distinct(periods.id), periods.*").where(["periods.employee_id = ? AND events.punchtime >= ? AND events.punchtime <= ?", employee, @start_date, @end_date]).to_a.sum { |period| period.get_length } %></td>
  </tr>
  <% end %>
  <tr class="total">
    <th>Total</th>
        <% @jobs.each do |job| %>
    <td class="job<%= job[:id] %>"><%= Period.joins(:events).select("distinct(periods.id), periods.*").where(["periods.job_id = ? AND events.punchtime >= ? AND events.punchtime <= ?", job, @start_date, @end_date]).to_a.sum { |period| period.get_length } %></td>
    <% end %>
    <td class="total"><%= Period.joins(:events).select("distinct(periods.id), periods.*").where(["events.punchtime >= ? AND events.punchtime <= ?", @start_date, @end_date]).to_a.sum { |period| period.get_length } %></td>
  </tr>
</table>

<h1>Punch Periods</h1>

<table class="table table-hover">
  <tr>
    <th>User</th>
    <th>Job</th>
    <th>In</th>
    <th>Out</th>
    <th>Length</th>
    <th class="span5">Log</th>
  </tr>

<% @periods.each do |period| %>
  <tr>
    <td><%= if period.employee != nil then period.employee.firstname end %></td>
    <td><%= if period.job != nil then period.job.name end %></td>
    <td><%= if period != nil then period.find_events.first.punchtime end %></td>
    <td><%= if period != nil then period.find_events.last.punchtime end %></td>
    <td><%= period.get_length %></td>
    <td><%= period.find_events.reduce('') {|prev,c| prev + "<br>" + c.log }%>
    <!-- <td><%= period.find_events.map { |current| current.log } . join("\n") %> -->
    <!-- <td><%= if period != nil then period.find_events.first.log end %> -->
        <!-- <%= if period != nil then period.find_events.last.log end %></td> -->
  </tr>
<% end %>
  <tr>
    <td class="totals">Total:</td><td></td><td></td><td></td><td class="length"><%= @period_length_total %></td><td></td>
  </tr>
</table>

<br />

<p><%= paginate @periods %>