<h1>Report <i class="icon-refresh" id="refreshAJAX"></i></h1>
<h2>Current Status</h2>

<% @employees.each do |employee| 
  @lastevent = @events.where({:employee_id => params[employee.id]}).last %>
  <%= @lastevent.employee_id if @lastevent %>

<% end %>
<div class="controls controls-row">
  <div class="span2">
    <%= label "startdate", "Start Date" %>
    <%= text_field "startdate","",:value => Date.today.beginning_of_week, :class => 'datepicker span2', :size => 10, :maxlength => 10 %> 
</div>

  <div class="span2">
    <%= label "enddate", "End Date" %>
    <%= text_field "enddate","",:value => Date.today.end_of_week, :class => 'datepicker span2', :size => 10, :maxlength => 10 %> 
  </div>
<div class="span2">
    <%= label "dateRange", "Date Range" %>
    <%= select_tag :dateRange, options_for_select([['Custom', 'custom'], ['Today', 'today'], ['Last Week', 'lastWeek'], ['This Week', 'thisWeek'], ['Last Month', 'lastMonth'], ['This Month', 'thisMonth'], ['This Year', 'thisYear'], ['Last Year', 'lastYear']], 'thisWeek'), class: "span2" %>
</div>
  <div class="span2">
    <%= label :employee, "Filters:" %>
    <%= collection_select(:event, :employee_id, @employees, :id, :firstname, {:prompt => "Select Employee" }, {:class => "span2"}) %>  
</div>
<div class="span3">
    <%= label :job, "." %>
    <%= collection_select(:event, :job_id, @jobs, :id, :name, {:prompt => "Select Job"}) %>  
</div>
</div>
<table id="matrix" class="table">
  <tr>
    <th></th>
    <% @jobs.each do |job| %>
    <th class="job<%= job[:id] %>"><%= job[:name] %></th>
    <% end %>
    <th>Total</th>
  </tr>
  <% @employees.each do |employee| %>
  <tr id="employee<%= employee[:id] %>">
    <th>
      <%= employee[:firstname] %> <%= employee[:lastname] %>
    </th>
    <% @jobs.each do |job| %>
    <td class="job<%= job[:id] %>"></td>
    <% end %>
    <td class="total"></td>
  </tr>
  <% end %>
  <tr class="total">
    <th>Total</th>
        <% @jobs.each do |job| %>
    <td class="job<%= job[:id] %>"></td>
    <% end %>
    <td class="total"></td>
  </tr>
</table>

<h1>Punch Periods</h1>

<table class="table table-hover">
  <tr>
    <th>User</th>
    <th>Job</th>
    <th>In</th>
    <th>Out</th>
    <th>Length</th>
    <th class="span5">Log</th>
  </tr>

<% @periods.each do |period| %>
  <tr>
    <td><%= if period.employee != nil then period.employee.firstname end %></td>
    <td><%= if period.job != nil then period.job.name end %></td>
    <td><%= if period.punch_in != nil then period.punch_in.punchtime end %></td>
    <td><%= if period.punch_out != nil then period.punch_out.punchtime end %></td>
    <td><%= period.length %></td>
    <td><%= if period.punch_in != nil then period.punch_in.log end %>
        <%= if period.punch_out != nil then period.punch_out.log end %></td>
  </tr>
<% end %>
</table>

<br />

<p><%= paginate @periods %>