<p id="notice"><%= notice %></p>

<p>
  <b>Employee:</b>
  <%= @period.employee.firstname if @period.employee %>
</p>

<p>
  <b>Job:</b>
  <%= @period.job.name if @period.job %>
</p>

<p>
  <b>Punch in:</b>
  <%= @events.first.punchtime if @events %>
</p>

<p>
  <b>Punch in log:</b>
  <%= @events.first.log if @events %>
</p>

<p>
  <b>Punch out:</b>
  <%= @events.last.punchtime if @events %>
</p>

<p>
  <b>Punch out log:</b>
  <%= @events.last.log if @events %>
</p>

<p>
  <b>Length:</b>
  <%= @period.get_length %>
</p>


<%= link_to 'Edit', edit_period_path(@period) %> |
<%= link_to 'Back', periods_path %>
